.pagination
{
    list-style: none;
    padding: 0 4rem 7rem 4rem;
    display: flex;
    justify-content: center;
}

.pagination li
{
    border: 1px solid #ABC4AA;
}

.active-page-li
{
    color: #534a40;
    background-color: #ABC4AA
}

.page-number
{
    padding: 0 2rem;
    box-sizing: border-box;
}